.popup {
    &-wrapper {
        width: 500px;
        padding: 32px;

        .form-group {
            margin: 15px 0;
        }
        
        .form-floating {
            textarea {
                width: 100%;
                height: 150px;
            }      
        }
        
        .file-select {
            margin: 15px 0;
            text-align: center;
        
            input {
                display: none;
            }
        
            label {
                border: 2px dotted #bbd4fa;
                padding: 5px;
                font-size: 15px;
                cursor: pointer;
                text-align: center;
                border-radius: 0.25rem;
            }
        }
        
        .file-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
        
            small {
                overflow: hidden;
                margin: 0 5px;
                position: relative;
                max-width: 150px;
            }
        
            .attachment-img {
                position: relative;
                background-size: cover;
                width: 24px;
                height: 24px;
                background: url('../../../../../assets/attachment-img.svg') no-repeat center;
            }
        
            .close {
                position: relative;
                background-size: cover;
                cursor: pointer;
                width: 18px;
                height: 18px;
                background: url('../../../../../assets/close.svg') no-repeat center;
            }
        }
        
        .btn-submit {
            width: 120px;
            margin-right: 10px;
        }

        .spinner {
            opacity: 0.3;
        }
        
        .message-block {
            border-radius: 0.25rem;
            padding: 10px;
        
            &.success {
                background: #d9ffd9;
            }
        
            &.error {
                background: #ffa196;
            }
        
            p {
                margin: 0;
            }
        }
    }
}